# This workflow will build a Java project with Gradle
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-gradle

name: test

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'environment profile name'
        required: true
        default: 'prod'
      version:
        description: 'docker version (default 0.0.1)'
        required: true
        default: '0.0.1'
      port:
        description: 'application port'
        required: true
        default: '5110'
      docker_repo:
        description: 'docker repositry'
        required: true
        default: 'py846260131/springboot-ci-cd'
      docker_user:
        description: 'docker username'
        required: true
        default: 'paopaoyue.cn@gmail.com'
      docker_registry:
        description: 'docker registry'
        required: true
        default: 'registry.cn-shanghai.aliyuncs.com'



jobs:
  test:

    runs-on: ubuntu-latest

    steps:
    - name: Set environment variables
      run: |
        echo "::set-env name=ENVIRONMENT::${{github.event.inputs.environment}}"
        echo "::set-env name=VERSION::${{github.event.inputs.version}}"
        echo "::set-env name=APP_PORT::${{github.event.inputs.port}}"
        echo "::set-env name=DOCKER_REPO::${{github.event.inputs.docker_repo}}"
        echo "::set-env name=DOCKER_USER::${{github.event.inputs.docker_user}}"
        echo "::set-env name=DOCKER_REGISTRY::${{github.event.inputs.docker_registry}}"
        echo "::set-env name=DOCKER_IMAGE::${{env.DOCKER_REGISTRY}}/${{env.DOCKER_REPO}}:${{env.ENVIRONMENT}}-${{env.VERSION}}"
        echo "::set-env name=DOCKER_CONTAINER::${{GITHUB_REPOSITORY##*/}}_${{env.ENVIRONMENT}}"
    - uses: actions/checkout@v2
    - name: deploy to remote server
      uses: appleboy/ssh-action@master
      with:
        host: ${{ secrets.PRIVATE_SSH_HOST }}
        username: ${{ secrets.PRIVATE_SSH_USERNAME }}
        password: ${{ secrets.PRIVATE_SSH_PASSWORD }}
        script: | 
          echo "Hello world!"
          sudo docker stop ${{env.DOCKER_CONTAINER}}
          sudo docker rm ${{env.DOCKER_CONTAINER}}
          sudo docker rmi ${{env.DOCKER_IMAGE}}
          sudo docker pull ${{env.DOCKER_IMAGE}}
          sudo docker run -d -p ${{env.APP_PORT}}:${{env.APP_PORT}} -p 10200:10200 -e JAVA_OPTS=-Dspring.profiles.active=${{env.ENVIRONMENT}} --name=${{env.DOCKER_CONTAINER}} ${{env.DOCKER_IMAGE}}
